.css-block-redes-sociales{
    margin-top: 10px;
}
.login-username > input, .login-password > input{
    width: 100%
}

#sidebar h2.miembros{
	margin-top:75px;
}

#wp-submit {
	color: #fff;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #494949;
    text-align: center;
    padding: 6px;
    font-size: 13px;
    font-family: arial;
    width: 80px;
    cursor: pointer;
	border:none;
	margin-top:5px;
	margin-bottom:20px;

}

.aa_logout_user {
	margin-bottom:5px;
}

#menu-menu-idiomas li {
	display:inline-block;
}

#menu-menu-idiomas li:first-child:after{
	content:" / ";
}

.area-usuarios{
	font-size:11px;
}

#nav .current {
	padding:11px 11px 11px 11px;
}

#content p.titulo_descarga {
	font-weight:bold;
	margin:0;
	margin-bottom:-10px;
	}

a.enlace_descarga {
display:block;
	    color: #fff;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #494949;
    text-align: center;
    padding:3px;
    font-size: 11px;
    font-family: arial;
    width: 80px;
    cursor: pointer;
	margin-bottom:10px;
}


hr{
margin:10px 0 ;
border-top:1px solid #ccc;
}

.descarga {
	margin-top:20px;
}

.banner_wrapper .banner {
	height:63px;
	border:none;
}



/*#sidebar {
	width:277px;
}*/
.css-block-redes-sociales div.addthis_toolbox {
	margin:20px 0;
}
.css-block-redes-sociales div.addthis_toolbox a{
	display:none;
}

.css-block-redes-sociales div.addthis_toolbox a:nth-child(1),.css-block-redes-sociales div.addthis_toolbox a:nth-child(2),.css-block-redes-sociales div.addthis_toolbox a:nth-child(3),.css-block-redes-sociales div.addthis_toolbox a:nth-child(4),.css-block-redes-sociales div.addthis_toolbox a:nth-child(5),.css-block-redes-sociales div.addthis_toolbox a:nth-child(6){
	display:block;
}

#nav li {
	padding-right: 36px;
	padding-top:11px;
	padding-bottom:11px;
}

#sidebar .current_page_item > a{
	background: #d9d9d9;
    padding: 5px;
    margin: -5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
	
}

#header .lang a.salir {
	color:red;
	font-size:11px;
}

li#menu-item-218, li#menu-item-223 {
	padding-right:28px;
	position:relative;
}
li#menu-item-218 .sub-menu, li#menu-item-223 .sub-menu{
    width: 557px;
    background: #ccc;
    border-radius: 2px;
    position: absolute;
    right:-90px;
    margin-top: 16px !important;
	color:black;
	
}
li#menu-item-218 .sub-menu:after,li#menu-item-223 .sub-menu:after{ 
	    content: "";
    width: 35px;
    height: 0px;
    border: 23px solid transparent;
    border-bottom-color: #ccc;
    position: absolute;
    TOP: -38px;
    right: 168px;
    margin: auto;
    z-index: 2;
}

li#menu-item-218 .sub-menu li,li#menu-item-223 .sub-menu li{
	width:auto;
}
li#menu-item-218 .sub-menu li a,li#menu-item-223 .sub-menu li a{
	display:inline-block;
	color:black;
	text-shadow:none;


}

li#menu-item-218 .sub-menu li.current_page_item, li#menu-item-223 .sub-menu li.current_page_item {
	background:transparent;
}

#nav ul {
	position:relative;
	z-index:5;
}

#content {
	min-height:620px;
}

.password{
	margin-top:40px;
	margin-bottom:20px;
}

#sidebar li {
	list-style:circle;
}

#nav.menu-menu-principal-en-container ul li {
	padding-right:30px;
}

table{
	width:100%;
}
table:nth-child(n+1){
}

th {
	font-weight:bold;
	font-size:11px;
}

td:first-child {
	width:32px;
}

tr:nth-child(even) {
	background:#f1f1f1;
}

td{
	width:162px;
	font-size:11px;
}
.socios {
	padding:0 30px;
}
.socios h2 {

    font-family: 'Oswald', arial, serif;
    font-weight: normal;
    font-size: 18px;
    color: #494949;
    margin: 20px 0 20px 0;
    line-height: 26px;
	}
	


#header{
	height:auto;
}

div#wrapper {
	max-width:880px;
}

.menuNav {
	height:auto;
}

#nav.menu-menu-principal-es-container {
	padding-top:0;
}
#nav li {
	display:inline-block
}	

.logo {
	background: rgba(0, 0, 0, 0) url("../images/headerbg-left.jpg") no-repeat 0;
}

bg-izquierda {
	heigh:120px;
}

.bg-derecha {
	heigh:120px;

	background-size:100%;
}

.menu-item-188 > .sub-menu{
	display:none;
}

article {
	padding:10px 0 ;
}

h3{
	font-weight:bold;
	text-decoration:underline;
	font-size:14px;
	color:#222222;
}

h3 a {
	color:#222222;
}
.hidden-responsive{
	display:block;
}
.show-responsive{
	display:none;
}
.menu-responsive{
	margin-left:30px;
	width:40px;
	height:40px;
	background:url('../images/menu.svg')no-repeat;
	background-size:100%;
	cursor:pointer;
	display:none;
}

/*RESPONSIVE*/

@media screen and (max-width: 869px) {

.menu-nav {
    background: #494949 none repeat scroll 0 0;
    margin: 0 -15px;
    padding: 10px 0;
}


.hidden-responsive{
	display:none;
}
.show-responsive, .menu-responsive{
	display:block;
}
.menu-nav {
    background: #494949 none repeat scroll 0 0;
    margin: 0 -15px;
    padding: 10px 0;
}






li#menu-item-218 .sub-menu, li#menu-item-223 .sub-menu {
	position:relative;
}

li#menu-item-218 .sub-menu:after,li#menu-item-223 .sub-menu:after {
	display:none;
}
#nav li a {
	position:relative
}

#menu-item-188 {
	z-index:10;
}

#nav ul li.menu-item-has-children > a:after {
	content:"";
	display:inline;
	width:10px;
	height:10px;
	border:6px solid transparent;
	border-top-color:white;
	position:relative;
	top:11px;
	left:5px;
}

#nav ul li.menu-item-has-children ul li.menu-item-has-children{
	position:relative;
	z-index:12;
}

#nav > ul >  li > ul{
	display:none;
}



#nav {
	display:none;
}

.menu-nav {
	background: #494949 none repeat scroll 0 0;
	margin:0 -15px;
	padding:10px 0;
}



#sidebar {
	background:transparent;
	padding:15px 10px;
	min-height: 100px;
	border-bottom:1px solid #dadada;
	width:100%;
	border-top:1px solid #dadada;
}

#content {
	padding:0 30px;
}

.banner_wrapper .banner{
	height:8.3em;
}

.css-block-redes-sociales {
    margin-top: 10px;
    width: 50%;
    float: left;
}
div#banners {
    width: 50%;
    float: left;
}
#nav ul  {
	padding:0;
	
}

#nav ul li{
	display:block;
	text-align:left;
	padding:15px 20px;
}

#nav .current{
	padding:15px 20px;
}




li#menu-item-218 .sub-menu:after, li#menu-item-223 .sub-menu:after {
	right:0;
	left:0;
}

li#menu-item-218 .sub-menu, li#menu-item-223 .sub-menu {
	width:100%;
	right:0;
}

label{
	display:block;
}


.login-username > input, .login-password > input {
	width:50%;
}
#content{
	width:100%;
}
#sidebar h2.miembros{
	margin:20px 0;
}
#header .logo, #header_en .logo  {
		
		mix-blend-mode: multiply;
	}

#nav .desplegable > .sub-menu {
	
background: #ccc;
border-radius: 2px;
color: black;
}


#nav .desplegable > .sub-menu li a {
	color:black;
	text-shadow:none;
	display:block;
	padding:0;
}

#nav .sub-menu  li{
	padding: 10px;
	
}

#nav .sub-menu  li ul li{
	margin-left:10px;
}
.socios{
		padding:0 15px;
	}

#nav .desplegable > .sub-menu li.current_page_item > a{
	color:white;
}
	
}

@media screen and (max-width: 480px) {
	.socios{
		padding:0 15px;
	}

	#sidebar{
		padding:0 10px;
	}
	td:first-child{
		width:3.2%;
	}
	
	th {
		font-size:7px;
	}
	
	td{
		width:16.2%;
		font-size:6px;
	}
	
	#wrapper{
		margin-top:0;
	}
	#header{
		background-size:200%;
	}
	#header .lang, #header_en .lang {
    /* float: right; */
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: 0px;
	margin-bottom:10px;
	}
	.css-block-redes-sociales {
		width:100%;
	}
	div#banners {
    width: 100%;
    float: left;
}

	#header .logo, #header_en .logo  {
		width:100%;
		mix-blend-mode: multiply;
		font-weight:bold;
	}
	.logo {
    background: rgba(0, 0, 0, 0) url("../images/headerbg-left.jpg") no-repeat 50% 50%;
	}
	.banner_wrapper .banner {
    height: 7.3em;
	}
	#nav .sub-menu li {
    padding: 10px;
}
}


