
body {
    background: #494949 none repeat scroll 0 0;
    color: #222222;
    font-family: arial;
    font-size: 12px;
    line-height: 18px;
    position: relative;
}
strong {
    font-weight: bold !important;
}
#footer {
    color: #222222;
    font-size: 11px;
    margin: 25px auto auto;
    padding: 20px;
    text-shadow: 0 1px #fff;
    /*width: 840px;*/
    text-align: center;
}
#footer a {
    color: #222222;
    font-size: 11px;
    text-decoration: none;
    text-shadow: 0 1px #fff;
}
#wrapper {
    background: #fff none repeat scroll 0 0 padding-box;
    border-radius: 8px;
    box-shadow: 0 0 15px #000;
    color: #000;
    margin: 25px auto;
    position: relative;
    /*width: 880px;*/
}
#header {
    background: rgba(0, 0, 0, 0) url("../images/headerbg-right.jpg") no-repeat scroll right top;
    border-radius: 8px 8px 0 0;
    /*height: 120px;*/
    height: 150px;
    padding: 0 15px;
    position: relative;
    /*width: 850px;*/
}
#header_en {
    /*background: rgba(0, 0, 0, 0) url("../img/headerbg2en.jpg") no-repeat scroll left top;*/
    border-radius: 8px 8px 0 0;
    /*height: 120px;*/
    height: 150px;
    padding: 15px;
    position: relative;
    /*width: 850px;*/
}
#header .logo, #header_en .logo {
    float: left;
    height: 100px;
    margin: 15px 0;
    width: 350px;
}
#header .lang, #header_en .lang {
    float: right;
    font-size: 12px;
    text-align: right;
	margin-top:18px;
}
#header .lang a, #header_en .lang a {
    color: #222222;
    text-decoration: none;
}
#nav {
    background: #494949 none repeat scroll 0 0;
    /*height: 30px;
    padding-top: 10px;*/
    /*height: 40px;*/
    /*padding-top: 12px;*/
    /*width: 880px;*/
}
#nav ul {
    margin: 0;
    padding: 0 0 0 15px;
}
#nav li {
    display: inline;
    list-style-type: none;
    padding-right: 40px;
}
#nav .current {
    background: #717171 none repeat scroll 0 0;
    padding: 13px 11px 13px;
}
#nav li a {
    color: #fff;
    font-family: arial;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 1px #000;
}
#submenu ul {
    margin: 0 !important;
    padding: 0 !important;
}
#submenu li {
    display: inline;
    font-size: 11px !important;
    list-style-type: none;
    padding-right: 7px;
}
#sidebar {
    background: rgba(0, 0, 0, 0) url("../images/pal.png") no-repeat scroll right top;
    float: left;
    /*margin-right: 10px;*/
    min-height: 610px;
    padding: 15px 37px 0 35px;
    /*width: 265px;*/
}
#sidebar ul {
    list-style-type: circle;
    padding-left: 20px;
}
#sidebar li {
    margin: 5px 0;
}
#sidebar li a {
    color: #000;
    text-decoration: none;
}
#sidebar .current {
    background: #d9d9d9 none repeat scroll 0 0 padding-box;
    border-radius: 5px;
    margin: -5px;
    padding: 5px;
}
#sidebar h2 {
    color: #494949;
    font-family: "Oswald",arial,serif;
    font-size: 18px;
    font-weight: normal;
    margin: 15px 0;
}
#content {
    float: left;
    padding: 0 40px 0 0;
    /*width: 560px;*/
}
#content h1, h1 {
    color: #494949;
    font-family: "Oswald",arial,serif;
    font-size: 18px;
    font-weight: normal;
    margin: 30px 0 20px;
}
#content h2 {
    color: #494949;
    font-family: "Oswald",arial,serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin: 20px 0;
}
#content ul {
    list-style-type: circle;
    padding-left: 20px;
}
#content li {
    font-size: 12px;
    margin: 15px 0;
}
#content p {
    margin: 12px 0;
    text-align: justify;
}
.btn {
    background: #494949 none repeat scroll 0 0;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-family: arial;
    font-size: 13px;
    padding: 6px;
    text-align: center;
    width: 80px;
}
.clear {
    clear: both !important;
}
#form .text {
    border: 1px solid #ccc;
    color: #494949;
    padding: 4px;
}
#interaccion h3 {
    font-family: "Oswald",arial,serif;
    font-size: 18px;
    font-weight: normal;
    margin: 6px 0;
}
#interaccion p {
    font-size: 12px;
}
.adh {
    background: #494949 none repeat scroll 0 0;
    color: #fff;
    font-family: "Oswald",arial,serif;
    font-size: 18px;
    font-weight: normal;
    padding: 6px;
    position: relative;
    text-align: center;
    width: 200px;
}
.adh a {
    color: #fff;
    font-family: "Oswald",arial,serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
#add_socio td {
    padding: 5px;
}
div.subm_container {
    background: rgba(0, 0, 0, 0) url("../img/arrow.png") no-repeat scroll center top;
    display: none;
    position: absolute;
    right: 0;
}
ul.subm {
    background: #ccc none repeat scroll 0 0;
    border-radius: 2px;
    margin-top: 16px !important;
    position: relative;
    right: 25px;
    width: 420px;
}
ul.subm li {
    padding: 7px 15px 7px 7px !important;
}
ul.subm li a {
    color: #000 !important;
    display: inline-block;
    font-size: 12px !important;
    padding: 7px !important;
    text-shadow: 0 0 !important;
}
ul.submenu {
    background: #ccc none repeat scroll 0 0;
    border-bottom: 1px solid white;
}
ul.submenu li {
    display: inline-block;
    list-style-type: none;
    min-width: 130px !important;
    padding: 10px 20px 10px 10px;
    text-align: center;
}
ul.submenu li:hover {
    background: #959595 none repeat scroll 0 0;
    border-radius: 5px;
    color: white;
}
ul.submenu li:hover a {
    color: white;
}
ul.submenu .indi {
    background: #656565 none repeat scroll 0 0 !important;
    color: white;
}
ul.submenu li a {
    color: black;
    font-size: 12px;
    text-align: center;
}
