/* Variables */

/* Funciones */

.esquinas-redondeadas(@radio : 5px){
	border-radius:@radio;
	-webkit-border-radius:@radio;
	-moz-border-radius:@radio;
}

html, body{
	padding:0;
	margin:0;
}

.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
display:block;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}